*{
    margin: 0;
    padding: 0;
}

.contenedorBody{
    width: 100%;
    height: 60vh;
}
.listaContenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.estiloFooter{
    background-color: #628E90;
    color: white;
}

.estiloLista{
    background-color: #1C82AD;
}
